<script src="~/Content/assets/plugins/printThis/printThis.js"></script>
@using System.Globalization;
@using IICA.Models.Entidades.PVI
@using IICA.Models.Entidades
@model List<IICA.Models.Entidades.PVI.ReporteVacacion>
<style>
    .md-100 {
        width: 100%;
        margin: auto;
    }

    .md-90 {
        width: 90%;
        margin: auto;
    }

    .text-center {
        text-align: center;
    }

    .border-solid {
        border: 1px solid #000;
    }

    /*------------------------------------*/
    #content-principal {
        width: 100%;
        margin: auto;
    }
    /*------------------------------------*/
    #content-header {
        height: 130px;
    }

        #content-header img {
            width: 265px;
            height: 115px;
        }
    /*------------------------------------*/
    #content-fecha-header {
        display: flex;
        justify-content: flex-end;
        text-align: center;
    }

        #content-fecha-header label {
            float: right;
            font-weight: 900;
            border: 1px solid #595959;
            padding: 5px 50px 5px 50px;
        }
    /*------------------------------------*/
    #content-titulo {
        text-align: center;
    }
    /*------------------------------------*/
    #content-datos-empleado {
        margin-bottom: 20px;
    }

        #content-datos-empleado table {
            color: #595959;
            font-size: 20px;
        }
    /*------------------------------------*/
    #content-datos-solicitud {
        margin-bottom: 20px;
    }

        #content-datos-solicitud table {
            width: 100%;
            color: #595959;
            font-size: 18px;
            border: 1px solid #595959;
        }

            #content-datos-solicitud table tbody {
                width: 90%;
                margin: auto;
                display: block;
            }

                #content-datos-solicitud table tbody tr td {
                    padding-bottom: 3px;
                    padding-top: 3px;
                }

    .label-dato {
        width: 100%;
        display: block;
        border: 1px solid #595959;
    }
    /*------------------------------------*/
    #content-firmas {
        display: table;
        margin-top: 80px;
    }
</style>
<div id="content-principal">

    <div id="content-header" class="md-90">
        <img src="http://localhost:59791/Content/assets/img/logo_iica.png" />
    </div>

    <div class="md-90" id="content-fecha-header">
        <div>
            <p>Reporte general de vacaciones</p>
        </div>
    </div>

    <div id="content-titulo" class="md-90">
        <h2>Reporte general de vacaciones</h2>
    </div>

    <div id="content-datos-empleado" class="md-90">
        <table class="md-100">
            @foreach (ReporteVacacion reporteVacacion in Model)
            {


            <tr>
                <td><label style="font-weight:900;">Nombre Completo:</label></td>
                <td style="border-bottom: 1px solid #000;"><label>@reporteVacacion.nombreCompleto</label></td>
            </tr>
            <tr>
                <td><label style="font-weight:900;">Proyecto:</label></td>
                <td style="border-bottom: 1px solid #000;"><label>@reporteVacacion.Proyecto</label></td>
            </tr>
            <tr>
                <td><label style="font-weight:900;">Departamento:</label></td>
                <td style="border-bottom: 1px solid #000;"><label>@reporteVacacion.Departamento</label></td>
            </tr>
            <tr>
                <td><label style="font-weight:900;">Saldo anterior</label></td>
                <td class="text-center" colspan="3">
                    <label class="label-dato">@reporteVacacion.Saldo_Anterior</label>
                </td>
            </tr>
            <tr>
                <td><label style="font-weight:900;">Vacaciones tomadas</label></td>
                <td class="text-center" colspan="3">
                    <label class="label-dato">@reporteVacacion.Vacaciones_Tomandas</label>
                </td>
            </tr>
            <tr>
                <td><label style="font-weight:900;">Dias proporcionales</label></td>
                <td class="text-center" colspan="3">
                    <label class="label-dato">@reporteVacacion.Saldo_Proporcional</label>
                </td>
            </tr>
            <tr>
                <td><label style="font-weight:900;">Saldo final</label></td>
                <td class="text-center" colspan="3">
                    <label class="label-dato">@reporteVacacion.Saldo_Final</label>
                </td>
            </tr>
            }
        </table>
    </div>
</div>
