
@{
    ViewBag.Title = "Mis Vacaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script>
        nodoMenu = "vacaciones";
        submenu = "misVacaciones";
    </script>
}
@using System.Globalization;
@using IICA.Models.Entidades.PVI
@using IICA.Models.Entidades

@model List<IICA.Models.Entidades.PVI.Vacacion>

<ul class="breadcrumb">
    <li>
        <p>VACACIONES</p>
    </li>
    <li><a href="#" class="active">Mis vacaciones</a> </li>
</ul>

<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>Lista <span class="semi-bold">de solicitudes</span></h4>
            </div>
            <div class="grid-body ">
                <table class="table table-hover table-condensed" style="text-align: center;" id="tabla-mis-vacaciones">
                    <thead>
                        <tr>
                            <th style="width:2%;text-align: center;">No.</th>
                            <th style="width:15%;text-align: center;">Motivo de las vacaciones</th>
                            <th style="width:10%;text-align: center;">Fecha inicio vacaciones</th>
                            <th style="width:10%;text-align: center;">Fecha fin vacaciones</th>
                            <th style="width:10%;text-align: center;">Total de dias solicitados</th>
                            <th style="width:10%;text-align: center;">Fecha de Autorización</th>
                            <th style="width:10%;text-align: center;">Estatus</th>
                            <th style="width:10%;text-align: center;">Motivo del rechazo</th>
                            <th style="width:10%;text-align: center;">Formato de vacación</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Vacacion vacacion in Model)
                        {
                            string labelEstatus;
                            switch ((EstatusSolicitud)vacacion.estatusVacacion.idEstatusVacacion)
                            {
                                case EstatusSolicitud.SOLICITUD_ENVIADA:
                                case EstatusSolicitud.SOLICITUD_APROBADA:
                                    labelEstatus = "success";
                                    break;
                                case EstatusSolicitud.SOLICITUD_CANCELADA:
                                    labelEstatus = "important";
                                    break;
                                case EstatusSolicitud.SOLICITUD_PENDIENTE_DE_ENVIAR:
                                    labelEstatus = "info";
                                    break;
                                default:
                                    labelEstatus = "success";
                                    break;
                            }
                        <tr>
                            <td>@vacacion.idVacacion</td>
                            <td>@vacacion.motivoVacaciones</td>
                            <td>
                                <span class="muted">
                                    @(vacacion.fechaInicio == DateTime.MinValue ? "N/A" : vacacion.fechaInicio.ToShortDateString())
                                </span>
                            </td>
                            <td>
                                <span class="muted">
                                    @(vacacion.fechaFin == DateTime.MinValue ? "N/A" : vacacion.fechaFin.ToShortDateString())
                                </span>
                            </td>
                            <td><span class="muted">@vacacion.totalDias</span></td>
                            <td><span class="muted">@(vacacion.fechaAutorizacion.ToShortDateString() == "01/01/1900" ? "Sin autorizar" : vacacion.fechaAutorizacion.ToShortDateString())</span></td>
                            <td><span class="label label-@labelEstatus">@vacacion.estatusVacacion.descripcion</span></td>
                            <td><span class="muted">@vacacion.motivoRechazo</span></td>
                            <td>
                                <span onclick="ImprimirFormatoVacacion(@(vacacion.idVacacion))">
                                    <button data-toggle="tooltip" title="Imprimir formato" class="btn btn-info btn-mini">
                                        <i class="fa fa-print"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link href="~/Content/assets/plugins/jquery-datatable/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/datatables-responsive/css/datatables.responsive.css" rel="stylesheet" type="text/css" media="screen" />

    <script src="~/Content/assets/plugins/bootstrap-select2/select2.min.js"></script>
    <script src="~/Content/assets/plugins/jquery-datatable/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery-datatable/extra/js/dataTables.tableTools.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/datatables-responsive/js/datatables.responsive.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/datatables-responsive/js/lodash.min.js"></script>
    <script src="~/Content/assets/js/datatables.js"></script>

    <script>
        $(document).ready(function () {
            $('#tabla-mis-vacaciones').dataTable()
        });

        function ImprimirFormatoVacacion(id) {
            $.ajax({
                data: { id: id },
                url: rootUrl("/Vacacion/_ImprimirFormatoVacacion"),
                dataType: "html",
                method: "post",
                beforeSend: function () {
                    MostrarLoading();
                },
                success: function (data) {
                    OcultarLoading();
                    $("#content-impresion").html(data);
                    $("#content-impresion").printThis({ printContainer: false });
                    setTimeout(function () {
                        $("#content-impresion").html("");
                    }, 1000);
                },
                error: function (xhr, status, error) {
                    ControlErrores(xhr, status, error);
                }
            });
        }

    </script>

}