
@{
    ViewBag.Title = "Reporte de saldos vacacionales";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script>
        nodoMenu = "vacaciones";
        submenu = "reportesVaca";
        submenu2 = "vaca-reporteVaca";
    </script>
}

@using System.Globalization;
@using System.Web.Script.Serialization;
@using IICA.Models.Entidades.PVI


<ul class="breadcrumb">
    <li>
        <p>VACACIONES</p>
    </li>
    <li><a href="#" class="active">Reporte de saldos vacacionales</a> </li>
</ul>

<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>Lista <span class="semi-bold">de empleados</span></h4>
            </div>
            <div class="col-md-3">
                <p></p>
                <label class="form-label">Proyecto:</label>
                @Html.DropDownList("proyecto", (IEnumerable<SelectListItem>)ViewBag.Proyectos, "SELECCIONE UN PROYECTO",
                                                          new
                                                          {
                                                              @class = "select-iica",
                                                              id = "select-proyecto",
                                                              style = "min-width: 100%;",
                                                              data_val_required = "Seleccione un proyecto.",
                                                              data_val = "true"
                                                          })
            </div>
            <div class="col-md-3">
                <p></p>
                <label class="form-label">Departamento:</label>
                <select class="select-iica" id="select-departamento" name="departamento"
                        data-val-required="Seleccione un proyecto."
                        data-val="true"
                        style="min-width: 100%;">
                    <option>SELECCIONE UN DEPARTAMENTO</option>
                </select>
            </div>
            <div class="grid-body ">
                <table class="table table-hover table-condensed" style="text-align: center;" id="tabla-reporte-saldoVaca">
                    <thead>
                        <tr>
                            <th style="width:15%;text-align: center;">Empleado</th>
                            <th style="width:10%;text-align: center;">Fecha ingreso</th>
                            <th style="width:10%;text-align: center;">Programa</th>
                            <th style="width:10%;text-align: center;">Departamento</th>
                            <th style="width:10%;text-align: center;">Saldo anterior</th>
                            <th style="width:10%;text-align: center;">Saldo proporcional</th>
                            <th style="width:10%;text-align: center;">Dias ejercidos de vacaciones</th>
                            <th style="width:10%;text-align: center;">Saldo restante</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (ReporteVacacion vacacion in Model)
                            {
                                <tr>
                                    <td>@(vacacion.nombreCompleto)</td>
                                    <td>@(vacacion.FechaIngreso)</td>
                                    <td><span class="muted">@vacacion.Proyecto</span></td>
                                    <td><span>@vacacion.Departamento</span></td>
                                    <td><span class="muted">@vacacion.SaldoAnterior</span></td>
                                    <td><span class="muted">@vacacion.SaldoProporcional</span></td>
                                    <td>
                                        <span class="muted">
                                            <span class="label label-info">
                                                @vacacion.VacacionesTomandas
                                            </span>
                                        </span>
                                    </td>
                                    <td><span class="muted">@vacacion.SaldoFinal</span></td>
                                </tr>
                            }*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <link href="~/Content/assets/plugins/jquery-datatable/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/jquery-datatable/css/buttons_dataTables.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/datatables-responsive/css/datatables.responsive.css" rel="stylesheet" type="text/css" media="screen" />
   
    @* Son para el estilo de los select ya que estan en el layout pero no funcionan si no estan en cada vista *@
    <script src="~/Content/assets/plugins/bootstrap-select2/select2.min.js"></script>
    <link href="~/Content/assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/webarch/css/webarch.css" rel="stylesheet" type="text/css" />


    <script src="~/Content/assets/plugins/jquery-datatable/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/datatables-responsive/js/datatables.responsive.js"></script>


    <!--SCRIPTS PARA LAS HERRAMIENTAS DEL DATATABLE-->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>

    <script src="~/Content/assets/js/datatables.js"></script>
    <script src="~/Content/assets/js/Evt/evtReporteSaldoVaca.js"></script>
}


