
@{
    ViewBag.Title = "Mis Permisos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script>
        nodoMenu = "permisos";
        submenu = "misPermisos";
    </script>
}
@using System.Globalization;
@using IICA.Models.Entidades.PVI
@using IICA.Models.Entidades

@model List<IICA.Models.Entidades.PVI.Permiso>

<ul class="breadcrumb">
    <li>
        <p>PERMISOS</p>
    </li>
    <li><a href="#" class="active">Mis permisos</a> </li>
</ul>

<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>Lista <span class="semi-bold">de solicitudes</span></h4>
            </div>
            <div class="grid-body ">
                <table class="table table-hover table-condensed" style="text-align: center;" id="tabla-mis-permisos">
                    <thead>
                        <tr>
                            <th style="width:2%;text-align: center;">No.</th>
                            <th style="width:15%;text-align: center;">Motivo del permiso</th>
                            <th style="width:10%;text-align: center;">Fecha de permiso</th>
                            <th style="width:10%;text-align: center;">Total de tiempo solicitado</th>
                            <th style="width:10%;text-align: center;">Fecha de Autorización</th>
                            <th style="width:10%;text-align: center;">Estatus</th>
                            <th style="width:10%;text-align: center;">Motivo del rechazo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Permiso permiso in Model)
                        {
                            string labelEstatus;
                            switch ((EstatusSolicitud)permiso.estatusPermiso.idEstatusPermiso)
                            {
                                case EstatusSolicitud.SOLICITUD_ENVIADA:
                                case EstatusSolicitud.SOLICITUD_APROBADA:
                                    labelEstatus = "success";
                                    break;
                                case EstatusSolicitud.SOLICITUD_CANCELADA:
                                    labelEstatus = "important";
                                    break;
                                case EstatusSolicitud.SOLICITUD_PENDIENTE_DE_ENVIAR:
                                    labelEstatus = "info";
                                    break;
                                default:
                                    labelEstatus = "success";
                                    break;
                            }
                            <tr>
                                <td>@permiso.idPermiso</td>
                                <td>@permiso.motivoPermiso</td>
                                <td>
                                    <span class="muted">
                                        @permiso.fechaPermiso.ToShortDateString()&nbsp;&nbsp;<br />
                                        <span class="label label-info">
                                            @(DateTime.ParseExact(permiso.horaInicio, "HH:mm", CultureInfo.InvariantCulture).ToString("HH:mm tt"))
                                            &nbsp;&nbsp;a&nbsp;&nbsp;
                                            @(DateTime.ParseExact(permiso.horaFin, "HH:mm", CultureInfo.InvariantCulture).ToString("HH:mm tt"))
                                        </span>
                                    </span>
                                </td>
                                <td><span class="muted">@permiso.totalHoras hrs</span></td>
                                <td><span class="muted">@(permiso.fechaAutorizacion == DateTime.MinValue ? "N/A" : permiso.fechaAutorizacion.ToShortDateString())</span></td>
                                <td><span class="label label-@labelEstatus">@permiso.estatusPermiso.descripcion</span></td>
                                <td><span class="muted">@permiso.motivoRechazo</span></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link href="~/Content/assets/plugins/jquery-datatable/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/datatables-responsive/css/datatables.responsive.css" rel="stylesheet" type="text/css" media="screen" />

    <script src="~/Content/assets/plugins/bootstrap-select2/select2.min.js"></script>
    <script src="~/Content/assets/plugins/jquery-datatable/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery-datatable/extra/js/dataTables.tableTools.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/datatables-responsive/js/datatables.responsive.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/datatables-responsive/js/lodash.min.js"></script>
    <script src="~/Content/assets/js/datatables.js"></script>

    <script>
        $(document).ready(function () {
            $('#tabla-mis-permisos').dataTable()
        });

    </script>

}