@using System.Web.Configuration;

@model IICA.Models.Entidades.Usuario


<div class="page-sidebar " id="main-menu">
    <div class="page-sidebar-wrapper scroll-scrolly_visible " id="main-menu-wrapper">
        @*<div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">*@
        <div class="user-info-wrapper sm">
            <div class="profile-wrapper sm">
                <img src="~/Content/assets/img/user.png" alt="" width="69" height="69" />
                <div class="availability-bubble online"></div>
            </div>
            <div class="user-info sm">
                <div class="username">@Model.nombre <span class="semi-bold">@Model.apellidoPaterno</span></div>
                <div class="status">@Model.rolUsuario - @Model.programa - @Model.departamento</div>
            </div>
        </div>

        <p class="menu-title sm">Menu</p>
        <ul>
            <li class="start nodo-menu" id="nodo-dashboard">
                <a href="@Url.Action("Index","Home")">
                    <i class="material-icons">home</i> <span class="title">Inicio</span> <span class="selected"></span>
                </a>
            </li>
            <!--    PERMISO S-->
            <li class="nodo-menu" id="nodo-permisos">
                <a href="javascript:;"> <i class="material-icons">assignment_ind</i> <span class="title">Permisos</span> <span class=" arrow"></span> </a>
                <ul class="sub-menu">
                    @if (Model.rol.idRol == Convert.ToInt32(IICA.Models.Entidades.EnumRolUsuario.EMPLEADO))
                    {
                        <li> <a id="submenu-nvsolPermi" href="@Url.Action("NuevaSolicitud","Permiso")">Nueva solicitud </a> </li>
                        <li> <a id="submenu-misPermisos" href="@Url.Action("MisPermisos","Permiso")">Mis Permisos</a> </li>
                    }
                    @if (Model.rol.idRol == Convert.ToInt32(IICA.Models.Entidades.EnumRolUsuario.AUTORIZADOR_PVI))
                    {
                        <li> <a id="submenu-permisosPorAut" href="@Url.Action("PermisosPorAutorizar", "Permiso")">Permisos por autorizar</a> </li>
                        <li class="nodo-submenu">
                            <a href="javascript:;" id="submenu-reportesPermi"> <span class="title">Reportes</span> <span class="arrow"></span> </a>
                            <ul class="sub-menu" style="display: block;">
                                <li> <a id="submenu2-permi-reporteSol" href="@Url.Action("ReporteSolicitudesPermisos", "Permiso")">Reporte de solicitudes</a> </li>
                            </ul>
                        </li>
                    }
                </ul>
            </li>
            <!--    VACACIONES    -->
            <li class="nodo-menu" id="nodo-vacaciones">
                <a href="javascript:;"> <i class="material-icons">flight_takeoff</i> <span class="title">Vacaciones</span> <span class=" arrow"></span> </a>
                <ul class="sub-menu">
                    @if (Model.rol.idRol == Convert.ToInt32(IICA.Models.Entidades.EnumRolUsuario.EMPLEADO))
                    {
                        <li> <a id="submenu-nvsolVaca" href="@Url.Action("NuevaSolicitud", "Vacacion")">Nueva solicitud </a> </li>
                        <li> <a id="submenu-misVacaciones" href="@Url.Action("MisVacaciones", "Vacacion")">Mis Vacaciones</a> </li>
                    }
                    @if (Model.rol.idRol == Convert.ToInt32(IICA.Models.Entidades.EnumRolUsuario.AUTORIZADOR_PVI))
                    {
                        <li> <a id="submenu-vacaPorAut" href="@Url.Action("VacacionesPorAutorizar", "Vacacion")">Vacaciones por autorizar</a> </li>
                        <li class="nodo-submenu">
                            <a href="javascript:;" id="submenu-reportesVaca"> <span class="title">Reportes</span> <span class="arrow"></span> </a>
                            <ul class="sub-menu" style="display: block;">
                                <li> <a id="submenu2-vaca-reporteVaca" href="@Url.Action("ReporteSaldosVacacionales", "Vacacion")">Reporte de saldos vacacionales</a> </li>
                                <li> <a id="submenu2-vaca-reporteSol" href="@Url.Action("ReporteSolicitudesVacaciones", "Vacacion")">Reporte de solicitudes de vacaciones</a> </li>
                            </ul>
                        </li>
                    }
                </ul>
            </li>
            <!--    INCAPACIDADES    -->
            <li class="nodo-menu" id="nodo-incapacidades">
                <a href="javascript:;"> <i class="material-icons">local_hospital</i> <span class="title">Incapacidades</span> <span class=" arrow"></span> </a>
                <ul class="sub-menu">
                    @if (Model.rol.idRol == Convert.ToInt32(IICA.Models.Entidades.EnumRolUsuario.EMPLEADO))
                    {
                        <li> <a id="submenu-nvsolInca" href="@Url.Action("NuevaSolicitud","Incapacidad")">Nueva solicitud </a> </li>
                        <li> <a id="submenu-misIncapacidades" href="@Url.Action("MisIncapacidades","Incapacidad")">Mis Incapacidades</a> </li>
                    }
                    @if (Model.rol.idRol == Convert.ToInt32(IICA.Models.Entidades.EnumRolUsuario.AUTORIZADOR_PVI))
                    {
                        <li> <a id="submenu-incaPorAut" href="@Url.Action("IncapacidadesPorAutorizar", "Incapacidad")">Incapacidades por autorizar</a> </li>
                    }
                </ul>
            </li>
        </ul>

        <br /><br /><br />
        <div class="side-bar-widgets">
            <p class="menu-title sm">SIA IICA</p>
            <ul class="folders">
                <li>
                    <a href="javascript:;" onclick="document.getElementById('form-doc').submit();">
                        <div class="status-icon green"></div>
                        IICA - ACT. DE EXPEDIENTE
                        <form id="form-doc" action="@WebConfigurationManager.AppSettings["urlDocumentos"].ToString()" method="post">
                            <input hidden name="email" value="@(Model.emCveEmpleado)" />
                            <input hidden name="password" value="@(Model.contrasena)" />
                        </form>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Viaticos","Home")">
                        <div class="status-icon red"></div>
                        IICA - Viaticos
                    </a>
                </li>
                @if(Model.rol.idRol == Convert.ToInt32(IICA.Models.Entidades.EnumRolUsuario.ADMINISTRADOR_RH))
                {
                    <li>

                        <a href="@WebConfigurationManager.AppSettings["urlPasivoLaboral"].ToString()">
                            <div class="status-icon red"></div>
                            IICA Pasivo Laboral
                        </a>
                    </li>
                }
                <li class="folder-input" style="display:none">
                    <input type="text" placeholder="Name of folder" class="no-boarder folder-name" name="">
                </li>
            </ul>
        </div>

        <div class="footer-widget">
            <div class="pull-right">
                <div class="details-status"> No. de empleado: @Model.emCveEmpleado</div>
                <a data-toggle="tooltip" title="Cerrar sesión" href="javascript: CerrarSesion();"><i class="material-icons">power_settings_new</i></a>
            </div>
        </div>
    </div>
</div>
