@using System.Web.Configuration;

@model IICA.Models.Entidades.Usuario


<div class="page-sidebar " id="main-menu">
    <div class="page-sidebar-wrapper scroll-scrolly_visible " id="main-menu-wrapper">
        @*<div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">*@
        <div class="user-info-wrapper sm">
            <div class="profile-wrapper sm">
                <img src="~/Content/assets/img/user.png" alt="" width="69" height="69" />
                <div class="availability-bubble online"></div>
            </div>
            <div class="user-info sm">
                <div class="username">@Model.nombre <span class="semi-bold">@Model.apellidoPaterno</span></div>
                <div class="status">@Model.rolUsuario - @Model.programa - @Model.departamento</div>
            </div>
        </div>

        <p class="menu-title sm">Menu</p>
        <ul>
            <li class="start nodo-menu" id="nodo-dashboard">
                <a href="@Url.Action("Viaticos","Home")">
                    <i class="material-icons">home</i> <span class="title">Inicio</span> <span class="selected"></span>
                </a>
            </li>
            <!--    SOLICITUD -->
            <li class="nodo-menu" id="nodo-solicitud">
                <a href="@Url.Action("NuevaSolicitud","Viatico")">
                    <i class="material-icons">note_add</i> <span class="title">Nueva solicitud</span> <span class="selected"></span>
                </a>
            </li>
            <!--    SOLICITUDES    -->
            <li class="nodo-menu" id="nodo-misSolicitudes">
                <a href="javascript:;"> <i class="material-icons">account_balance_wallet</i> <span class="title">Mis Solicitudes</span> <span class=" arrow"></span> </a>
                <ul class="sub-menu">
                    @if (Model.tipoUsuario != IICA.Models.Entidades.EnumTipoUsuario.ADMINISTRADOR)
                    {
                        <li> <a id="submenu-nvsolVaca" href="@Url.Action("SitioEnConstruccion", "Home")">En proceso </a> </li>
                        <li> <a id="submenu-nvsolVaca" href="@Url.Action("SitioEnConstruccion", "Home")">Comprobación de gastos</a> </li>
                    }
                </ul>
            </li>
            <!--    REPORTES    -->
            <li class="nodo-menu" id="nodo-reportes">
                <a href="javascript:;"> <i class="material-icons">assignment</i> <span class="title">Reportes</span> <span class=" arrow"></span> </a>
                <ul class="sub-menu">
                    @if (Model.tipoUsuario != IICA.Models.Entidades.EnumTipoUsuario.ADMINISTRADOR)
                    {
                        <li> <a id="submenu-nvsolInca" href="@Url.Action("SitioEnConstruccion", "Home")">Solicitudes </a> </li>
                        <li> <a id="submenu-misIncapacidades" href="@Url.Action("SitioEnConstruccion", "Home")">Depósitos de caja</a> </li>
                    }
                </ul>
            </li>
        </ul>

        <br /><br /><br />
        <div class="side-bar-widgets">
            <p class="menu-title sm">SIA IICA</p>
            <ul class="folders">
                <li>
                    <a href="javascript:;" onclick="document.getElementById('form-doc').submit();">
                        <div class="status-icon green"></div>
                        IICA - ACT. DE EXPEDIENTE
                        <form id="form-doc" action="@WebConfigurationManager.AppSettings["urlDocumentos"].ToString()" method="post">
                            <input hidden name="email" value="@(Model.emCveEmpleado)" />
                            <input hidden name="password" value="@(Model.contrasena)" />
                        </form>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <div class="status-icon red"></div>
                        IICA - PVI
                    </a>
                </li>
                @if (Model.tipoUsuario == IICA.Models.Entidades.EnumTipoUsuario.ADMINISTRADOR)
                {
                    <li>
                        <a href="@WebConfigurationManager.AppSettings["urlPasivoLaboral"].ToString()">
                            <div class="status-icon red"></div>
                            IICA Pasivo Laboral
                        </a>
                    </li>
                }
                <li class="folder-input" style="display:none">
                    <input type="text" placeholder="Name of folder" class="no-boarder folder-name" name="">
                </li>
            </ul>
        </div>

        <div class="footer-widget">
            <div class="pull-right">
                <div class="details-status"> No. de empleado: @Model.emCveEmpleado</div>
                <a data-toggle="tooltip" title="Cerrar sesión" href="javascript: CerrarSesion();"><i class="material-icons">power_settings_new</i></a>
            </div>
        </div>
    </div>
</div>

