@using System.Web.Configuration;

@model IICA.Models.Entidades.Usuario


<div class="page-sidebar " id="main-menu">
    <div class="page-sidebar-wrapper scroll-scrolly_visible " id="main-menu-wrapper">
        @*<div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">*@
        <div class="user-info-wrapper sm">
            <div class="profile-wrapper sm">
                <img src="~/Content/assets/img/user.png" alt="" width="69" height="69" />
                <div class="availability-bubble online"></div>
            </div>
            <div class="user-info sm">
                <div class="username">@Model.nombre <span class="semi-bold">@Model.apellidoPaterno</span></div>
                <div class="status">@Model.rolUsuario - @Model.programa - @Model.departamento</div>
            </div>
        </div>

        <p class="menu-title sm">Menu</p>
        <ul>
            <li class="start nodo-menu" id="nodo-dashboard">
                <a href="@Url.Action("Personal","Home")">
                    <i class="material-icons">home</i> <span class="title">Inicio</span> <span class="selected"></span>
                </a>
            </li>

            <!--    REGISTRO DE PERSONAL POR LAYOUT    -->
            @if (Model.rolesUsuario.Exists(r => r.idRol == Convert.ToInt32(IICA.Models.Entidades.EnumRolUsuario.ADMINISTRADOR_RH)))
            {
                <li class="nodo-menu" id="nodo-personal-registro">
                    <a href="@Url.Action("Index", "Personal")">
                        <i class="material-icons">note_add</i> <span class="title">Registro de personal</span> <span class="selected"></span>
                    </a>
                </li>
                <li class="nodo-menu" id="nodo-personal-personal">
                    <a href="@Url.Action("Personal", "Personal")">
                        <i class="material-icons">people</i> <span class="title">Consulta de personal</span> <span class="selected"></span>
                    </a>
                </li>
            }
        </ul>

        <br /><br />
        <div class="side-bar-widgets">
            <p class="menu-title sm">SIA IICA</p>
            <ul class="folders">
                @if (Model.empleado)
                {
                    <li>
                        <a href="javascript:;" onclick="document.getElementById('form-doc').submit();">
                            <div class="status-icon green"></div>
                            IICA - ACT. DE EXPEDIENTE
                            <form id="form-doc" action="@WebConfigurationManager.AppSettings["urlDocumentos"].ToString()" method="post">
                                <input hidden name="email" value="@(Model.emCveEmpleado)" />
                                <input hidden name="password" value="@(Model.contrasena)" />
                            </form>
                        </a>
                    </li>
                }
                @if (Model.empleado || Model.rolesUsuario.Exists(r => r.idRol == Convert.ToInt32(IICA.Models.Entidades.EnumRolUsuario.ADMINISTRADOR_RH)))
                {
                    <li>
                        <a href="@Url.Action("Index", "Home")">
                            <div class="status-icon red"></div>
                            IICA - PVI
                        </a>
                    </li>
                }
                @if (Model.rol.idRol == Convert.ToInt32(IICA.Models.Entidades.EnumRolUsuario.ADMINISTRADOR_RH))
                {
                    <li>
                        <a href="javascript:;" onclick="document.getElementById('form-pl').submit();">
                            <div class="status-icon red"></div>
                            IICA Pasivo Laboral
                            <form id="form-pl" action="@WebConfigurationManager.AppSettings["urlPasivoLaboral"].ToString()" method="post">
                                <input hidden name="email" value="@(Model.emCveEmpleado)" />
                                <input hidden name="password" value="@(Model.contrasena)" />
                            </form>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" onclick="document.getElementById('form-clA').submit();">
                            <div class="status-icon red"></div>
                            IICA Control de Asistencias
                            <form id="form-clA" action="@WebConfigurationManager.AppSettings["urlControlAsistencias"].ToString()" method="post">
                                <input hidden name="email" value="@(Model.emCveEmpleado)" />
                                <input hidden name="password" value="@(Model.contrasena)" />
                            </form>
                        </a>
                    </li>
                }
                <li class="folder-input" style="display:none">
                    <input type="text" placeholder="Name of folder" class="no-boarder folder-name" name="">
                </li>
            </ul>
        </div>

        <div class="footer-widget">
            <div class="pull-right">
                <div class="details-status"> No. de empleado: @Model.emCveEmpleado</div>
                <a data-toggle="tooltip" title="Cerrar sesión" href="javascript: CerrarSesion();"><i class="material-icons">power_settings_new</i></a>
            </div>
        </div>
    </div>
</div>

