<script src="~/Content/assets/plugins/printThis/printThis.js"></script>
@model IICA.Models.Entidades.Viaticos.SolicitudViatico
@using IICA.Models.Entidades.Viaticos
@using System.Web.Script.Serialization;


<style>
    .md-100 {
        width: 100%;
        margin: auto;
    }

    .md-90 {
        width: 90%;
        margin: auto;
    }

    .text-center {
        text-align: center;
    }

    .border-solid {
        border: 1px solid #000;
    }

    /*------------------------------------*/
    #content-principal {
        width: 100%;
        margin: auto;
    }
    /*------------------------------------*/
    #content-header {
        height: 130px;
    }

        #content-header img {
            width: 265px;
            height: 115px;
        }
    /*------------------------------------*/
    #content-fecha-header {
        display: flex;
        justify-content: flex-end;
        text-align: center;
    }

        #content-fecha-header label {
            float: right;
            font-weight: 900;
            border: 1px solid #595959;
            padding: 5px 50px 5px 50px;
        }
    /*------------------------------------*/
    #content-titulo {
        text-align: center;
    }
    /*------------------------------------*/
    #content-datos-empleado {
        margin-bottom: 20px;
    }

        #content-datos-empleado table {
            color: #595959;
            font-size: 20px;
        }
    /*------------------------------------*/
    #content-datos-solicitud {
        margin-bottom: 20px;
    }

        #content-datos-solicitud table {
            width: 100%;
            color: #595959;
            font-size: 18px;
            border: 1px solid #595959;
        }

            #content-datos-solicitud table tbody {
                width: 90%;
                margin: auto;
                display: block;
            }

                #content-datos-solicitud table tbody tr td {
                    padding-bottom: 3px;
                    padding-top: 3px;
                }

    .label-dato {
        width: 100%;
        display: block;
        border: 1px solid #595959;
    }

    /*------------------------------------*/
    #content-firmas {
        display: table;
        margin-top: 80px;
    }
</style>

<div id="content-header" class="md-90">
    <img src="http://localhost:59791/Content/assets/img/logo_iica.png" />
</div>
<div id="autorizacion" class="md-90">
<label style="font-weight:bold">AUTORIZACIÓN PARA VIAJE OFICIAL Y ORDEN DE COMPRA DE PASAJES AÉREOS</label>
</div>
<div id="unidad-operativa" class="md-90">
    <table border="0" class="md-90">
        <tr>
            <td><label style="font-weight:bold">UNIDAD OPERATIVA:</label></td>
            <td><label>@Model.usuario.programa</label></td>
            <td width="25">&nbsp;</td>
            <td><label style="font-weight:bold">FECHA:</label></td>
            <td><label>@Model.fechaAlta</label></td>
        </tr>
    </table>
</div>

<div id="tipo_viaje">
    <table class="md-90">
        <tr>
            <td>
                <table border="1">
                    <tr>
                        <td colspan="2" align="center">VIAJES INTERNACIONALES</td>
                    </tr>
                    <tr>
                        <td>Código de empleado</td>
                        <td>CONSECUTIVO ANUAL</td>
                    </tr>
                    <tr>
                        <td>@(Model.tipoViaje.idTipoViaje == 2 ? @Model.usuario.emCveEmpleado : "")</td>
                        <td>@(Model.tipoViaje.idTipoViaje == 2 ? "1" : " ")</td>
                    </tr>
                </table>
            </td>
            <td>
                <table border="1">
                    <tr>
                        <td colspan="2" align="center">VIAJES NACIONALES</td>
                    </tr>
                    <tr>
                        <td>Código de empleado</td>
                        <td>CONSECUTIVO ANUAL</td>
                    </tr>
                    <tr>
                        <td>@(Model.tipoViaje.idTipoViaje == 1 ? @Model.usuario.emCveEmpleado : "")</td>
                        <td>@(Model.tipoViaje.idTipoViaje == 1 ? "1" : "")</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table><br />
</div>

<div id="datos_empleado" class="md-90">
    <table border="0" class="md-90">
        <tr>
            <td><label style="font-weight:bold">Nombre:</label></td>
            <td><label>@Model.usuario.nombreCompleto</label></td>
            <td width="25">&nbsp;</td>
            <td><label style="font-weight:bold">Cargo:</label></td>
            <td><label>@Model.usuario.puesto</label></td>
        </tr>
    </table>
</div>

<div id="datos_Viaje" style="font-size: 10px;" class="md-90">
    <p style="font-weight:bold">Próposito del viaje:</p>
    <p>@Model.proposito</p>
    <p style="font-weight:bold">Resultados esperados:</p>
    <p>@Model.resultadosEsperados</p>
    <p style="font-weight:bold">Justificación del viaje:</p>
    <p>@Model.justificacion.descripcion</p>
    <table border="0">
        <tr>
            <td style="font-weight:bold">Relación de gastos pendientes:</td>
            <td>"NO"</td>
            <td width="25">&nbsp;</td>
            <td style="font-weight:bold">Informe de viaje pendiente:</td>
            <td>"NO"</td>
        </tr>
    </table>
    <p style="font-weight:bold">Duración estimada del viaje:</p>
    <p>@(Model.duracionViaje + " día(s)")</p>
</div>

<div class="md-90">
    <div class="col-md-12">
        <div class="grid simple vertical green">
            <div class="grid-title">
                <h4>Lista <span class="semi-bold">de itinerario</span></h4>
            </div>
            <div class="grid-body">
                <table style="text-align: center;" id="tabla-itinerarios">
                    <thead>
                        <tr>
                            <th style="width:10%;text-align: center;">Tipo</th>
                            <th style="width:10%;text-align: center;">Origen</th>
                            <th style="width:10%;text-align: center;">Destino</th>
                            <th style="width:10%;text-align: center;">Medio de transporte</th>
                            <th style="width:10%;text-align: center;">Linea / No. de vuelo</th>
                            <th style="width:10%;text-align: center;">Hora de salida</th>
                            <th style="width:10%;text-align: center;">Hora de llegada</th>
                            <th style="width:10%;text-align: center;">Boleto</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var itinerario in Model.itinerario)
                        {
                            <tr>
                                <td>@(itinerario.tipoSalida.idTipoSalida == 1 ? "Ida" : "Regreso")</td>
                                <td>@itinerario.origen</td>
                                <td>@itinerario.destino</td>
                                <td>@itinerario.medioTransporte.descripcion</td>
                                <td>@(itinerario.linea + "/" + itinerario.numeroAsiento)</td>
                                <td>@(string.IsNullOrEmpty(itinerario.horaSalida) ? "N/A" : itinerario.horaSalida )</td>
                                <td>@(string.IsNullOrEmpty(itinerario.horaLLegada) ? "N/A" : itinerario.horaLLegada )</td>
                                <td>
                                    @if (itinerario.medioTransporte.idMedioTransporte == 2)
                                    {
                                        <span data-toggle="modal" data-target="#modal-itinBoleto" onclick="mostrarBoletoItinerario(@(new JavaScriptSerializer().Serialize(itinerario)))">
                                            <button data-toggle="tooltip" title="Ver boleto" class="btn btn-warning btn-mini">
                                                <i class="fa fa-print"></i>
                                            </button>
                                        </span>
                                    }
                                    else
                                    {
                                        <span>N/A</span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="md-90">
    <div class="col-md-12">
        <div class="grid simple vertical red">
            <div class="grid-title">
                <h4>Lista <span class="semi-bold">de gastos</span></h4>
            </div>
            <div class="grid-body">
                <table style="text-align: center;" id="tabla-gastosExtras">
                    <thead>
                        <tr>
                            <th style="width:10%;text-align: center;">Gasto</th>
                            <th style="width:10%;text-align: center;">Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var gasto in Model.gastosExtrasSol)
                        {
                            <tr>
                                <td>@gasto.descripcion</td>
                                <td>@(gasto.monto.ToString("C") + " " + (Model.tipoViaje.idTipoViaje == 2 ? "USD" : "MXN"))</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="md-90">
    <label style="font-weight:bold">Datos del anticipo de viatico:</label>
    <table class="md-90">
        <tr>
            <td><label style="font-weight:bold">Monto</label></td>
            <td><label style="font-weight:bold">Cheque</label></td>
            <td><label style="font-weight:bold">Transferencia</label></td>
            <td><label style="font-weight:bold">Banco</label></td>
         </tr>
        <tr>
            <td>@Model.montoAutorizado</td>
            <td><label>X</label></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

<div class="md-90">
    <label style="font-weight:bold">
        RELACIÓN DE GASTOS E INFORME DE VIAJE DEBEN PRESENTARSE 5 DÍAS HABILES POSTERIORES A SU RETORNO:</label>
        <table border="1" style="text-align: center;" id="tabla-gastos_reintegro">
            <thead>
                <tr>
                    <th style="width:10%;text-align: center;">Tipo de Gasto</th>
                    <th style="width:10%;text-align: center;">OGM</th>
                    <th style="width:10%;text-align: center;">Codigo Presupuestario</th>
                    <th style="width:10%;text-align: center;">Monto US/ML</th>
                    <th style="width:10%;text-align: center;">Cuenta para aviso de cargo</th>
                    <th style="width:10%;text-align: center;">Nombre de la fuente de Financiamiento</th>
                    <th style="width:10%;text-align: center;">Nombre de la Unidad Interna o Institución Financiera</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
</div>

<div id="content-firmas" class="md-90">
    <div style="text-align: left; float: left;">
        <p>___________________________________________</p>
        <p>@Model.usuario.nombreCompleto</p>
    </div>

    <div style="text-align: center; float: center;">
        <p>__________________________________________</p>
        <p>@Model.autorizador.nombreCompleto</p>
    </div>
    
    <div style="text-align: center; float: center;">
        <p>__________________________________________</p>
        <p>@ViewBag.Administrador.nombreCompleto</p>
    </div>

</div>
    </div>
<style>
    .blueIICA {
        color: #1f3853;
    }

    #content-solViatico .grid-body {
        padding: 0px !important;
    }

    table tr th {
        font-size: 11px !important;
    }

    table td {
        font-size: 11px !important;
    }
</style>


<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    function mostrarBoletoItinerario(itinerario) {
        var url = itinerario.pathBoleto;
        if (url !== "") {
            url = rootUrl(url);
            $('div #content-boleto').html("");
            $("div #bol-ida").text(itinerario.origen);
            $("div #bol-regreso").text(itinerario.destino);
            var iframe = $('<iframe style="width: 100%;height:600px;">');
            iframe.attr('src', url);
            $('div #content-boleto').append(iframe);
            iframe[0].contentWindow.location.reload();
        }
        else {
            $("div #content-boleto").html("");
            $("div #bol-ida").text("-");
            $("div #bol-regreso").text("-");
        }
    }
</script>
