<script src="~/Content/assets/plugins/printThis/printThis.js"></script>
@model IICA.Models.Entidades.Viaticos.SolicitudViatico
<style>
    .md-100 {
        width: 100%;
        margin: auto;
    }

    .md-90 {
        width: 90%;
        margin: auto;
    }

    .text-center {
        text-align: center;
    }

    .border-solid {
        border: 1px solid #000;
    }

    /*------------------------------------*/
    #content-principal {
        width: 100%;
        margin: auto;
    }
    /*------------------------------------*/
    #content-header {
        height: 130px;
    }

        #content-header img {
            width: 265px;
            height: 115px;
        }
    /*------------------------------------*/
    #content-fecha-header {
        display: flex;
        justify-content: flex-end;
        text-align: center;
    }

        #content-fecha-header label {
            float: right;
            font-weight: 900;
            border: 1px solid #595959;
            padding: 5px 50px 5px 50px;
        }
    /*------------------------------------*/
    #content-titulo {
        text-align: center;
    }
    /*------------------------------------*/
    #content-datos-empleado {
        margin-bottom: 20px;
    }

        #content-datos-empleado table {
            color: #595959;
            font-size: 20px;
        }
    /*------------------------------------*/
    #content-datos-solicitud {
        margin-bottom: 20px;
    }

        #content-datos-solicitud table {
            width: 100%;
            color: #595959;
            font-size: 18px;
            border: 1px solid #595959;
        }

            #content-datos-solicitud table tbody {
                width: 90%;
                margin: auto;
                display: block;
            }

                #content-datos-solicitud table tbody tr td {
                    padding-bottom: 3px;
                    padding-top: 3px;
                }

    .label-dato {
        width: 100%;
        display: block;
        border: 1px solid #595959;
    }

    /*------------------------------------*/
    #content-firmas {
        display: table;
        margin-top: 80px;
    }
</style>
<div id="content-principal">

    <div id="content-header" class="md-90">
        <img src="http://localhost:59791/Content/assets/img/logo_iica.png" />
    </div>

    <div class="md-90" id="content-fecha-header">
        <div>
            <p>AUTORIZACIÓN PARA VIAJE OFICIAL Y ORDEN DE COMPRA DE PASAJES AÉREOS</p><br/>
            <p>UNIDAD OPERATIVA:</p>
            <p><label>"pROGRAMA"</label></p><br/>
            <p>FECHA:</p>
            <p>@Model.fechaAlta</p>
        </div>
    </div>



    <div id="content-datos-vi" class="md-90">
        <table class="md-100">
            <tr>
                <td><label style="font-weight:900;">VIAJES INTERNACIONALES</label></td>
            </tr>
            <tr>
                <td><label style="font-weight:900;">Código de empleado</label></td>
                <td><label style="font-weight:900;">CONSECUTIVO ANUAL</label></td>
            </tr>
            <tr>
                <td><label style="font-weight:900;">""</label></td>
                <td><label style="font-weight:900;">""</label></td>
            </tr>
        </table>
    </div>

    @*<div id="content-datos-solicitud" class="md-90">
        <div class="md-100 border-solid text-center">
            <label style="font-weight:900; font-size: 20px; line-height:30px;">Justificación</label>
        </div>
        <table>
            <tbody>
                <tr>
                    <td><label style="font-weight:900;">Fecha del Permiso</label></td>
                    <td class="text-center" colspan="3">
                        <label class="label-dato">@Model.fechaPermiso</label>
                    </td>
                </tr>
                <tr>
                    <td style="width: 30%;"><label style="font-weight:900;">De las</label></td>
                    <td class="text-center">
                        <label class="label-dato">@Model.horaInicio hrs.</label>
                    </td>
                    <td class="text-center"><label style="font-weight:900;">a las</label></td>
                    <td class="text-center">
                        <label class="label-dato">@Model.horaFin hrs.</label>
                    </td>
                </tr>
                <tr>
                    <td><label style="font-weight:900;">No. de Horas</label></td>
                    <td class="text-center" colspan="3">
                        <label class="label-dato">@Model.totalHoras hrs.</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><label style="font-weight:900;">Horario en que reanudará labores</label></td>
                    <td class="text-center" colspan="2">
                        <label class="label-dato">@Model.horaFin hrs.</label>
                    </td>
                </tr>
                <tr>
                    <td><label style="font-weight:900;">Motivo</label></td>
                    <td style="text-align: justify;" colspan="3">
                        <label class="label-dato">@Model.motivoPermiso</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="content-firmas" class="md-90">
        <div style="text-align: center; float: left;">
            <p>________________________</p>
            <p>@Model.nombreCompleto</p>
        </div>

        <div style="text-align: center; float: right;">
            <p>________________________</p>
            <p>Nombre y firma del jefe inmediato</p>
        </div>

    </div>*@

</div>