
@{
    ViewBag.Title = "SolicitudesPorVerificar";
    Layout = "~/Views/Shared/_LayoutViaticos.cshtml";
    <script>
        nodoMenu = "solicitudesVerificar";
        submenu = "Solicitudes VoBo";
    </script>
}
@using System.Globalization;
@using IICA.Models.Entidades.Viaticos
@using System.Web.Script.Serialization;
@using IICA.Models.Entidades

@model List<IICA.Models.Entidades.Viaticos.SolicitudViatico>

<ul class="breadcrumb">
    <li>
        <p>SOLICITUDES</p>
    </li>
    <li><a href="#" class="active">Solicitudes por verificar montos autorizados y reintegro</a> </li>
</ul>

<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>Lista <span class="semi-bold">de solicitudes</span></h4>
            </div>
            <div class="grid-body ">
                <table class="table table-hover no-more-tables" style="text-align: center;" id="tabla-mis-solicitudes">
                    <thead>
                        <tr>
                            <th style="width:2%;text-align: center;">No. Solicitud</th>
                            <th style="width:15%;text-align: center;">Deudor</th>
                            <th style="width:15%;text-align: center;">Importe</th>
                            <th style="width:8%;text-align: center;">Fecha inicio</th>
                            <th style="width:8%;text-align: center;">Fecha fin</th>
                            <th style="width:8%;text-align: center;">Estatus</th>
                            <th style="width:10%;text-align: center;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (SolicitudViatico solicitud in Model)
                        {
                            <tr>
                                <td>@solicitud.idSolitud</td>
                                <td>@solicitud.usuario.nombreCompleto</td>
                                <td>@solicitud.montoAutorizado</td>
                                <td>
                                    <span class="muted">
                                        @(solicitud.fechaInicio == DateTime.MinValue ? "N/A" : solicitud.fechaInicio.ToShortDateString())
                                    </span>
                                </td>
                                <td>
                                    <span class="muted">
                                        @(solicitud.fechaFin == DateTime.MinValue ? "N/A" : solicitud.fechaFin.ToShortDateString())
                                    </span>
                                </td>
                                <td><span class="muted">@solicitud.etapaSolicitud.descripcion</span></td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-info dropdown-toggle btn-demo-space" data-toggle="dropdown" href="#" style="font-size: 11px;">
                                            Ver acciones <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" style="margin-left: -55px !important;">
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#modal-solViatico"
                                                   onclick="VerDetalleSolViatico( @(new JavaScriptSerializer().Serialize(solicitud)))">
                                                    Ver Solicitud
                                                </a>
                                            </li>
                                            @if (solicitud.realizarComprobacionGastos)
                                            {
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#modal-comprobaciones"
                                                       onclick="MostrarModalComprobaciones(@(new JavaScriptSerializer().Serialize(solicitud)))">
                                                        Ver comprobaciones
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#modal-subir-archivo" class="subirFormato" data-formato="3"
                                                       data-formato-text="pathArchivo10NoComprobable" data-nombreArchivo="archivo del 10% no comprobable" data-solicitud="@solicitud.idSolitud">
                                                        Archivo del 10% no comprobable
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#modal-subir-archivo" class="subirFormato" data-formato="4"
                                                       data-formato-text="pathInformeViaje" data-nombreArchivo="archivo del informe de viaje" data-solicitud="@solicitud.idSolitud">
                                                        Informe del viaje
                                                    </a>
                                                </li>
                                            }
                                            @if (solicitud.marginal)
                                            {
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#modal-subir-archivo" class="subirFormato" data-formato="2"
                                                       data-formato-text="pathComprobanteEstancia" data-nombreArchivo="archivo del comprobante de instancia" data-solicitud="@solicitud.idSolitud">
                                                        Comprobante de instancia
                                                    </a>
                                                </li>
                                            }
                                            @if (solicitud.comprobarItinerarioAereo)
                                            {
                                                <li>
                                                    <a href="#" data-toggle="modal" data-target="#modal-itinerariosAereos"
                                                       onclick="MostrarModalItinerarioAereos(@(new JavaScriptSerializer().Serialize(solicitud)))">
                                                        Pases de abordar
                                                    </a>
                                                </li>
                                            }
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#modal-devolver"
                                                   onclick="MostrarModalDevSol(@(new JavaScriptSerializer().Serialize(solicitud)))">
                                                    Devolver solicitud
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#modal-autorizar"
                                                   onclick="MostrarModalAutSol(@(new JavaScriptSerializer().Serialize(solicitud)))">
                                                    Autorizar solicitud
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                @*<td>
                                        <span data-toggle="modal" data-target="#modal-solViatico">
                                            <button data-toggle="tooltip" title="Ver Solicitud" class="btn btn-info btn-mini"
                                                    onclick="VerDetalleSolViatico(@(new JavaScriptSerializer().Serialize(solicitud)) )">
                                                <i class="fa fa-list"></i>
                                            </button>
                                        </span>
                                        <span data-toggle="modal" data-target="#modal-comprobaciones">
                                            <button data-toggle="tooltip" title="Ver Comprobaciones" class="btn btn-info btn-mini"
                                                    onclick="MostrarModalComprobaciones(@(new JavaScriptSerializer().Serialize(solicitud)))">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </span>
                                        <span data-toggle="modal" data-target="#modal-autorizar">
                                            <button data-toggle="tooltip" title="Autorizar solicitud" class="btn btn-success btn-mini"
                                                    onclick="MostrarModalAutSol(@(new JavaScriptSerializer().Serialize(solicitud)))">
                                                <i class="fa fa-check-square-o"></i>
                                            </button>
                                        </span>
                                        <span data-toggle="modal" data-target="#modal-devolver">
                                            <button data-toggle="tooltip" title="Devolver solicitud" class="btn btn-warning btn-mini"
                                             onclick="MostrarModalDevSol(@(new JavaScriptSerializer().Serialize(solicitud)))">
                                                <i class="fa fa-close"></i>
                                            </button>
                                        </span>
                                    </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section modals{

    <div class="modal fade" id="modal-comprobaciones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <br />
                </div>
                <div class="modal-body" id="modal-content-comprobaciones">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>

    </div>

    <div class="modal fade" id="modal-devolver" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <br>
                    <i class="fa fa-question-circle fa-7x"></i>
                    <h4 id="myModalLabel" class="semi-bold">Realmente desea DEVOLVER la siguiente solicitud.</h4>
                    <p class="no-margin">A continuación se muestran los detalles de la solicitud </p>
                    <br>
                </div>
                <div class="modal-body">
                    <div class="row form-row">
                        <div class="col-md-6">
                            <label class="form-label">No. de solicitud:</label>
                            <input id="modal-dev-solicitud" type="text" class="form-control" placeholder="No. de solicitud" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Viaticante:</label>
                            <input id="modal-dev-viaticante" type="text" class="form-control" placeholder="Viaticante" readonly>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-md-6">
                            <label class="form-label">Fecha inicio:</label>
                            <input id="modal-dev-fechaInicio" type="text" class="form-control" placeholder="Fecha inicio" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Fecha fin:</label>
                            <input id="modal-dev-fechaFin" type="text" class="form-control" placeholder="Fecha fin" readonly>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-md-6">
                            <label class="form-label">Duración del viaje:</label>
                            <input id="modal-dev-duracionViaje" type="text" class="form-control" placeholder="Duración del viaje" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Resultados esperados:</label>
                            <input id="modal-dev-resultadosEsperados" type="text" class="form-control" placeholder="Resultados esperados:" readonly>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-md-6">
                            <label class="form-label">Monto autorizado:</label>
                            <input id="modal-dev-montoAut" type="text" class="form-control" placeholder="Monto autorizado" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Monto comprobado:</label>
                            <input id="modal-dev-montoCompr" type="text" class="form-control" placeholder="Monto comprobado" readonly>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-md-6">
                            <label class="form-label">Medio de transporte:</label>
                            <input id="modal-dev-medioTransporte" type="text" class="form-control" placeholder="Medio de transporte" readonly>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="DevolverSol()">Devolver solicitud</button>
                </div>
            </div>

        </div>

    </div>

    <div class="modal fade" id="modal-autorizar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <br>
                    <i class="fa fa-question-circle fa-7x"></i>
                    <h4 id="myModalLabel" class="semi-bold">Realmente desea AUTORIZAR la siguiente solicitud.</h4>
                    <p class="no-margin">A continuación se muestran los detalles de la solicitud </p>
                    <br>
                </div>
                <div class="modal-body">
                    <div class="row form-row">
                        <div class="col-md-6">
                            <label class="form-label">No. de solicitud:</label>
                            <input id="modal-aut-solicitud" type="text" class="form-control" placeholder="No. de solicitud" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Viaticante:</label>
                            <input id="modal-aut-viaticante" type="text" class="form-control" placeholder="Viaticante" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Fecha inicio:</label>
                            <input id="modal-aut-fechaInicio" type="text" class="form-control" placeholder="Fecha inicio" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Fecha fin:</label>
                            <input id="modal-aut-fechaFin" type="text" class="form-control" placeholder="Fecha fin" readonly>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-md-6">
                            <label class="form-label">Duración del viaje:</label>
                            <input id="modal-aut-duracionViaje" type="text" class="form-control" placeholder="Duración del viaje" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Resultados esperados:</label>
                            <input id="modal-aut-resultadosEsperados" type="text" class="form-control" placeholder="Resultados esperados:" readonly>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-md-6">
                            <label class="form-label">Monto autorizado:</label>
                            <input id="modal-aut-montoAut" type="text" class="form-control" placeholder="Monto autorizado" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Monto comprobado:</label>
                            <input id="modal-aut-montoCompr" type="text" class="form-control" placeholder="Monto comprobado" readonly>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-md-6">
                            <label class="form-label">Medio de transporte:</label>
                            <input id="modal-aut-medioTransporte" type="text" class="form-control" placeholder="Medio de transporte" readonly>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="AutorizarSolViatico()">Autorizar solicitud</button>
                </div>
            </div>

        </div>

    </div>

    <div class="modal fade" id="modal-subir-archivo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <br>
                    <i class="fa fa-cloud-download fa-5x"></i>
                    <h4 id="myModalLabel" class="semi-bold">Formulario para visualizar formatos.</h4>
                </div>
                <div class="modal-body">
                    <div class="row form-row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs" role="tablist">
                                <li id="item-verArchivo">
                                    <a href="#tabVerArchivo" role="tab" data-toggle="tab">Visualizar archivo cargado</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                @*<div class="tab-pane active" id="tabDropzone">
                                        <div class="row form-row">
                                            <div class="col-md-6">
                                                <label class="form-label">No. de solicitud:</label>
                                                <input type="text" class="form-control modal-idSol" placeholder="" readonly>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label">Viaticante:</label>
                                                <input type="text" class="form-control modal-viaticante" placeholder="" readonly>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row form-row">
                                            <div class="col-md-12" id="formDropZone"></div>
                                        </div>
                                    </div>*@
                                <div class="tab-pane" id="tabVerArchivo">
                                    <div class="row">
                                        <div class="col-md-12" id="content-archivosSolicitud">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>

    </div>

    <div class="modal fade" id="modal-itinerariosAereos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <br />
                </div>
                <div class="modal-body" id="modal-content-itinerariosAereos">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>

    </div>

}



<style>
    #dZUploadXmlComp, #dZUploadReintegro, #dZUploadSat, #dZUploadOtros, #dZUpload {
        min-height: 150px !important;
    }

        #dZUploadXmlComp .dz-details,
        #dZUploadSat .dz-details,
        #dZUploadOtros .dz-details {
            height: 25px !important;
        }
</style>

@section scripts{
    <link href="~/Content/assets/plugins/jquery-datatable/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/datatables-responsive/css/datatables.responsive.css" rel="stylesheet" type="text/css" media="screen" />

    <link href="~/Content/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/dropzone/css/dropzone.css" rel="stylesheet" />

    <script src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/bootstrap-select2/select2.min.js"></script>
    <script src="~/Content/assets/plugins/jquery-datatable/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery-datatable/extra/js/dataTables.tableTools.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/datatables-responsive/js/datatables.responsive.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/datatables-responsive/js/lodash.min.js"></script>
    <script src="~/Content/assets/js/datatables.js"></script>
    <script src="~/Content/assets/plugins/moment/moment.min.js"></script>
    <script src="~/Content/assets/plugins/accounting/accounting.min.js"></script>

    <script src="~/Content/assets/plugins/dropzone/dropzone.min.js"></script>
    <script src="~/Content/assets/js/Evt/Viativos/evtVerificarSolicitudes.js"></script>
}
