
@{
    ViewBag.Title = "Mis Incapacidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script>
        nodoMenu = "incapacidades";
        submenu = "misIncapacidades";
    </script>
}
@using System.Globalization;
@using System.Web.Script.Serialization;
@using IICA.Models.Entidades
@using IICA.Models.Entidades.PVI

@model List<IICA.Models.Entidades.PVI.Incapacidad>

<ul class="breadcrumb">
    <li>
        <p>INCAPACIDADES</p>
    </li>
    <li><a href="#" class="active">Mis incapacidades</a> </li>
</ul>

<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>Lista <span class="semi-bold">de solicitudes</span></h4>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#grid-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="grid-body ">
                <table class="table table-hover table-condensed" style="text-align: center;" id="tabla-mis-incapacidades">
                    <thead>
                        <tr>
                            <th style="width:2%;text-align: center;">No.</th>
                            <th style="width:10%;text-align: center;">Periodo de incapacidad</th>
                            <th style="width:10%;text-align: center;">Total de días solicitados</th>
                            <th style="width:10%;text-align: center;">Tipo incapacidad</th>
                            <th style="width:10%;text-align: center;">Tipo seguimiento</th>
                            <th style="width:10%;text-align: center;">Fecha de Autorización</th>
                            <th style="width:10%;text-align: center;">Estatus</th>
                            <th style="width:10%;text-align: center;">Motivo del rechazo</th>
                            <th style="width:10%;text-align: center;">Formatos para adjuntar</th>
                            <th style="width:10%;text-align: center;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Incapacidad incapacidad in Model)
                        {

                            string labelEstatus;
                            switch ((EstatusSolicitud)incapacidad.estatusIncapacidad.idEstatusIncapacidad)
                            {
                                case EstatusSolicitud.SOLICITUD_ENVIADA:
                                case EstatusSolicitud.SOLICITUD_APROBADA:
                                    labelEstatus = "success";
                                    break;
                                case EstatusSolicitud.SOLICITUD_CANCELADA:
                                    labelEstatus = "important";
                                    break;
                                case EstatusSolicitud.SOLICITUD_PENDIENTE_DE_ENVIAR:
                                    labelEstatus = "info";
                                    break;
                                default:
                                    labelEstatus = "success";
                                    break;
                            }
                            <tr>
                                <td>@incapacidad.idIncapacidad</td>
                                <td>
                                    <span class="muted">
                                        @(incapacidad.fechaInicio == DateTime.MinValue ? "N/A" : incapacidad.fechaInicio.ToShortDateString()) al
                                        @(incapacidad.fechaFin == DateTime.MinValue ? "N/A" : incapacidad.fechaFin.ToShortDateString())
                                    </span>
                                </td>
                                <td>
                                    <span class="muted">
                                        @incapacidad.totalDias
                                    </span>
                                </td>
                                <td><span class="muted">@incapacidad.tipoIncapacidad.Descripcion_Tipo_Incapacidad</span></td>
                                <td><span class="muted">@incapacidad.tipoSeguimiento.Descripcion_Tipo_Seguimiento</span></td>
                                <td><span class="muted">@(incapacidad.fechaAutorizacion == DateTime.MinValue ? "N/A" : incapacidad.fechaAutorizacion.ToShortDateString())</span></td>
                                <td><span class="label label-@labelEstatus">@incapacidad.estatusIncapacidad.descripcion</span></td>
                                <td><span class="muted">@incapacidad.motivoRechazo</span></td>
                                <td>
                                    @if (incapacidad.estatusIncapacidad.idEstatusIncapacidad == (int)EstatusSolicitud.SOLICITUD_PENDIENTE_DE_ENVIAR)
                                    {
                                        <span data-toggle="modal" data-target="#modal-subir-archivo" class="subirFormato" data-formato="1" data-incapacidad="@incapacidad.idIncapacidad">
                                            <button data-toggle="tooltip" title="Formato de Incapacidad" class="btn btn-primary btn-mini">
                                                <i class="fa fa-stethoscope"></i>
                                            </button>
                                        </span>
                                        <span data-toggle="modal" data-target="#modal-subir-archivo" class="subirFormato" data-formato="2" data-incapacidad="@incapacidad.idIncapacidad">
                                            <button data-toggle="tooltip" title="Formato Adicional" class="btn btn-warning btn-mini">
                                                <i class="fa fa-medkit"></i>
                                            </button>
                                        </span>
                                        <span data-toggle="modal" data-target="#modal-subir-archivo" class="subirFormato" data-formato="3" data-incapacidad="@incapacidad.idIncapacidad">
                                            <button data-toggle="tooltip" title="Formato de ST7 calificacion RT" class="btn btn-info btn-mini">
                                                <i class="fa fa-wheelchair"></i>
                                            </button>
                                        </span>
                                        <span data-toggle="modal" data-target="#modal-subir-archivo" class="subirFormato" data-formato="4" data-incapacidad="@incapacidad.idIncapacidad">
                                            <button data-toggle="tooltip" title="Formato ST7 alta RT" class="btn btn-danger btn-mini">
                                                <i class="fa fa-ambulance"></i>
                                            </button>
                                        </span>
                                    }
                                </td>
                                <td>
                                    @if (incapacidad.estatusIncapacidad.idEstatusIncapacidad == (int)EstatusSolicitud.SOLICITUD_PENDIENTE_DE_ENVIAR)
                                    {
                                        <span data-toggle="modal" data-target="#modal-enviar" onclick="MostrarModalEnvSol(@(new JavaScriptSerializer().Serialize(incapacidad)))">
                                            <button data-toggle="tooltip" title="Enviar solicitud" class="btn btn-info btn-mini">
                                                <i class="fa fa-check-square-o"></i>
                                            </button>
                                        </span>
                                        <span data-toggle="modal" data-target="#modal-cancelar" onclick="MostrarModalCanSol(@(new JavaScriptSerializer().Serialize(incapacidad)))">
                                            <button data-toggle="tooltip" title="Cancelar solicitud" class="btn btn-warning btn-mini">
                                                <i class="fa fa-close"></i>
                                            </button>
                                        </span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-subir-archivo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <br>
                <i class="fa fa-cloud-upload fa-7x"></i>
                <h4 id="myModalLabel" class="semi-bold">Formulario para subir formatos.</h4>
                <p class="no-margin">A continuación arrastre o presione sobre la imagen para anexar los archivos</p>
                <br>
            </div>
            <div class="modal-body">
                <div class="row form-row">
                    <div class="col-md-12">
                        <div class="grid simple">
                            <div class="row-fluid">
                                <div class="col-md-12">
                                    <div class="col-md-12" id="formDropZone"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>

    </div>

</div>

<div class="modal fade" id="modal-enviar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <br>
                <i class="fa fa-question-circle fa-7x"></i>
                <h4 id="myModalLabel" class="semi-bold">Realmente desea enviar la siguiente solicitud.</h4>
                <p class="no-margin">A continuación se muestran los detalles de la solicitud </p>
                <br>
            </div>
            <div class="modal-body">
                <div class="row form-row">
                    <div class="col-md-8">
                        <label class="form-label">Tipo de incapacidad:</label>
                        <input id="modal-env-tipoIn" type="text" class="form-control" placeholder="Tipo de incapacidad" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Tipo de seguimiento:</label>
                        <input id="modal-env-tipoSegui" type="text" class="form-control" placeholder="Tipo de seguimiento" readonly>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-md-6">
                        <label class="form-label">Fecha de inicio:</label>
                        <input id="modal-env-fechaIni" type="text" class="form-control" placeholder="Fecha de inicio" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Fecha de termino de incapacidad:</label>
                        <input id="modal-env-fechaFin" type="text" class="form-control" placeholder="Fecha de termino de incapacidad" readonly>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-md-12">
                        <label class="form-label">Total de días solicitados:</label>
                        <input id="modal-env-totaldias" type="text" class="form-control" placeholder="Total de días solicitados" readonly>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="EnviarSol()">Enviar solicitud</button>
            </div>
        </div>

    </div>

</div>

<div class="modal fade" id="modal-cancelar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <br>
                <i class="fa fa-question-circle fa-7x"></i>
                <h4 id="myModalLabel" class="semi-bold">Realmente desea CANCELAR la siguiente solicitud.</h4>
                <p class="no-margin">A continuación se muestran los detalles de la solicitud </p>
                <br>
            </div>
            <div class="modal-body">
                <div class="row form-row">
                    <div class="col-md-8">
                        <label class="form-label">Tipo de incapacidad:</label>
                        <input id="modal-can-tipoIn" type="text" class="form-control" placeholder="Tipo de incapacidad" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Tipo de seguimiento:</label>
                        <input id="modal-can-tipoSegui" type="text" class="form-control" placeholder="Tipo de seguimiento" readonly>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-md-6">
                        <label class="form-label">Fecha de inicio:</label>
                        <input id="modal-can-fechaIni" type="text" class="form-control" placeholder="Fecha de inicio" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Fecha de termino de incapacidad:</label>
                        <input id="modal-can-fechaFin" type="text" class="form-control" placeholder="Fecha de termino de incapacidad" readonly>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col-md-12">
                        <label class="form-label">Total de días solicitados:</label>
                        <input id="modal-can-totaldias" type="text" class="form-control" placeholder="Total de días solicitados" readonly>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="CancelarSol()">Cancelar solicitud</button>
            </div>
        </div>

    </div>

</div>



@section scripts{
    <link href="~/Content/assets/plugins/jquery-datatable/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/datatables-responsive/css/datatables.responsive.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/assets/plugins/dropzone/css/dropzone.css" rel="stylesheet" />

    <script src="~/Content/assets/plugins/bootstrap-select2/select2.min.js"></script>
    <script src="~/Content/assets/plugins/jquery-datatable/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery-datatable/extra/js/dataTables.tableTools.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/datatables-responsive/js/datatables.responsive.js"></script>
    <script type="text/javascript" src="~/Content/assets/plugins/datatables-responsive/js/lodash.min.js"></script>
    <script src="~/Content/assets/js/datatables.js"></script>
    <script src="~/Content/assets/plugins/dropzone/dropzone.min.js"></script>

    <script src="~/Content/assets/js/Evt/evtMisIncapacidades.js"></script>

}