@using System.Web.Configuration;
@{
    Layout = null;
}
@model IICA.Models.Entidades.Usuario

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="~/Content/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/assets/plugins/bootstrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/bootstrapv3/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/webarch/css/webarch.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <script>
        function rootUrl(url) {
            var _rootUrl = '@Url.Content("~")';
            var x = url;
            if (url.indexOf(_rootUrl) != 0) {
                x = _rootUrl + "/" + url;
                x = x.replace(/\/\//g, "/").replace(/\/\//g, "/");
            }
            return x;
        };
    </script>
    <div class="header navbar navbar-inverse ">
        <div class="navbar-inner">
            <div class="header-seperation">
                <a href="#">
                    <img src="~/Content/assets/img/logo_iica.png" class="logo" alt=""
                         data-src="../Content/assets/img/logo_iica.png"
                         data-src-retina="../Content/assets/img/logo_iica.png" width="150" height="60"
                         style="margin-top: 0px;" />
                </a>
            </div>
            <div class="header-quick-nav">
                @*<div class="pull-right">
                        <ul class="nav quick-section ">
                            <li class="quicklinks">
                                <a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#" id="user-options">
                                    <i class="material-icons">tune</i>
                                </a>
                                <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
                                    <li>
                                        <a href="javascript: CerrarSesion();"><i class="material-icons">power_settings_new</i>&nbsp;&nbsp;Cerrar sesión</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="quicklinks"> <span class="h-seperate"></span></li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="page-sidebar " id="main-menu">
        <div class="page-sidebar-wrapper scroll-scrolly_visible" id="main-menu-wrapper">
            <div class="user-info-wrapper sm">
                <div class="profile-wrapper sm">
                    <img src="~/Content/assets/img/user.png" alt="" data-src="../Content/assets/img/user.png" data-src-retina="../Content/assets/img/user.png" width="69" height="69" />
                    <div class="availability-bubble online"></div>
                </div>
                <div class="user-info sm">
                    <div class="username">@Model.nombre <span class="semi-bold">@Model.apellidoPaterno</span></div>
                    <div class="status">@Model.rolUsuario - @Model.programa - @Model.departamento</div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="page-container row-fluid">
        <div class="footer-widget">
            <div class="pull-right">
                <div class="details-status"> No. de empleado: @Model.emCveEmpleado</div>
                <a data-toggle="tooltip" title="Cerrar sesión" href="javascript: CerrarSesion();"><i class="material-icons">power_settings_new</i></a>
            </div>
        </div>

        <div class="page-content">
            <div class="clearfix"></div>
            <div class="content">

                <div class="jumbotron" style="text-align: center">
                    <h1>BIENVENIDO</h1>
                    <p class="lead">Al Sistema Integral de IICA.</p>
                    <img style="height: 100px; " src="~/Content/assets/img/logo_iica.png" />
                </div>

                <div class="row">
                    @if (Model.empleado || Model.rolesUsuario.Exists(r => r.idRol == Convert.ToInt32(IICA.Models.Entidades.EnumRolUsuario.ADMINISTRADOR_RH)))
                    {
                        <div class="col-md-4">
                            <h3>IICA - ACTUALIZACIÓN DE EXPEDIENTE</h3>
                            <p>
                                Es un sistema en donde encontrara todo lo referente a su perfil profesional como empleado.
                            </p>
                            <p>
                                <form action="@WebConfigurationManager.AppSettings["urlDocumentos"].ToString()" method="post">
                                    <input hidden name="email" value="@(Model.emCveEmpleado)" />
                                    <input hidden name="password" value="@(Model.contrasena)" />
                                    <button type="submit" class="btn btn-default">Ingresar</button>
                                </form>
                            </p>
                        </div>
                    }
                    @if (Model.rolesUsuario.Exists(r => r.idRol == Convert.ToInt32(IICA.Models.Entidades.EnumRolUsuario.ADMINISTRADOR_RH)))
                    {
                        <div class="col-md-4">
                            <h3>IICA - CONTRATOS MASIVOS</h3>
                            <p>
                                ---------------------------.
                            </p>
                            <p>
                                <form action="@WebConfigurationManager.AppSettings["urlContratosMasivos"].ToString()" method="post">
                                    <input hidden name="email" value="@(Model.emCveEmpleado)" />
                                    <input hidden name="password" value="@(Model.contrasena)" />
                                    <button type="submit" class="btn btn-default">Ingresar</button>
                                </form>
                            </p>
                        </div>
                    }
                    @if (Model.empleado || Model.rolesUsuario.Exists(r => r.idRol == Convert.ToInt32(IICA.Models.Entidades.EnumRolUsuario.ADMINISTRADOR_VIATICOS)))
                    {
                        <div class="col-md-4">
                            <h3>IICA - VIATICOS</h3>
                            <p>IICA-VIATICOS le permitira llevar a cabo el proceso de la solicitud y comprobación de viaticos.</p>
                            <p><a class="btn btn-default" href="@Url.Action("Viaticos", "Home")">Ingresar</a></p>
                        </div>
                    }
                    @if (Model.empleado || Model.rolesUsuario.Exists(r => r.idRol == Convert.ToInt32(IICA.Models.Entidades.EnumRolUsuario.ADMINISTRADOR_RH)))
                    {
                        <div class="col-md-4">
                            <h3>IICA - PERMISOS, VACACIONES E INCAPACIDADES</h3>
                            <p>Te brindara la facilidad de tramitar y administrar tus periodos vacacionales como solicitar todos aquellos permisos o incapacidades que llegases a requerir durante tu estadia en IICA</p>
                            <p><a class="btn btn-default" href="@Url.Action("Index", "Home")">Ingresar</a></p>
                        </div>
                    }
                    @if (Model.rolesUsuario.Exists(r => r.idRol == Convert.ToInt32(IICA.Models.Entidades.EnumRolUsuario.ADMINISTRADOR_RH)))
                    {
                        <div class="col-md-4">
                            <h3>IICA - PASIVO LABORAL</h3>
                            <p>Sistema que le permitira realizar calculos de planeaciones respectivas al gasto salarial de la empresa.</p>
                            <p>
                                <form action="@WebConfigurationManager.AppSettings["urlPasivoLaboral"].ToString()" method="post">
                                    <input hidden name="email" value="@(Model.emCveEmpleado)" />
                                    <input hidden name="password" value="@(Model.contrasena)" />
                                    <button type="submit" class="btn btn-default">Ingresar</button>
                                </form>
                            @*<a class="btn btn-default" href="@WebConfigurationManager.AppSettings["urlPasivoLaboral"].ToString()">Ingresar</a>*@
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h3>IICA - CONTROL DE ASISTENCIAS</h3>
                            <p>Sistema que le permitirá llevar el control de la asistencia del personal de la empresa.</p>
                            <p>
                                <form action="@WebConfigurationManager.AppSettings["urlControlAsistencias"].ToString()" method="post">
                                    <input hidden name="email" value="@(Model.emCveEmpleado)" />
                                    <input hidden name="password" value="@(Model.contrasena)" />
                                    <button type="submit" class="btn btn-default">Ingresar</button>
                                </form>
                                @*<a class="btn btn-default" href="@WebConfigurationManager.AppSettings["urlControlAsistencias"].ToString()">Ingresar</a>*@
                            </p>
                        </div>
                    }
                    @if (Model.rolesUsuario.Exists(r => r.idRol == Convert.ToInt32(IICA.Models.Entidades.EnumRolUsuario.SUPERADMINISTRADOR)))
                    {
                        <div class="col-md-4">
                            <h3>IICA - ADMINISTRACIÓN DE PERFILES</h3>
                            <p>Sistema que le permitira asignar perfiles .</p>
                            <p><a class="btn btn-default" href="@Url.Action("RolesUsuario", "Home")">Ingresar</a></p>
                        </div>
                    }
                </div>
                
            </div>
        </div>

    </div>

    <div class="footer-sia">
            <div style="width: 90%; margin: auto;">
                <a href="~/Content/Recursos/Aviso de Privacidad (IICA).pdf" class="btn btn-white btn-cons" target="_blank">
                    <i class="fa fa-unlock-alt"></i>
                    &nbsp;&nbsp; Aviso de privacidad
                </a>
            </div>
    </div>

    <style>
        .footer-sia {
            position: fixed;
            z-index: 10;
            bottom: 0;
            left: 45%;
            padding:20px;
            width: 250px;
            clear: both;
        }

    </style>


    <script src="~/Content/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/bootstrapv3/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery-block-ui/jqueryblockui.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery-numberAnimate/jquery.animateNumbers.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/bootstrap-select2/select2.min.js" type="text/javascript"></script>
    <link href="~/Content/assets/plugins/sweet-alert/sweetalert.min.css" rel="stylesheet" />
    <script src="~/Content/assets/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/Content/webarch//js/webarch.js" type="text/javascript"></script>

    <script src="~/Content/assets/js/Evt/HttpStatusCode.js"></script>
    <script src="~/Content/assets/js/Evt/Utils.js"></script>
</body>
</html>
